---
import Layout from "@/layouts/Layout.astro";
import type { Task } from "@/types/Task";

const res = await fetch(`http://localhost:8322/`,{
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
	}
})
const data:Task[] = await res.json();

---
<Layout title='Task-edit' />
<div class="my-4 h-64 flex-1 flex flex-col justify-center items-start ">
    {
        data.map((task) => (
            <div>
                <div class="px-2 list-none  bg-slate-900 rounded-lg text-white py-1 border-2 border-slate-500 w-1/2">
                    <a href={`/${task._id}`}>
                        <h2>{task.title}</h2>
                        <p>{task.description}</p>
                    </a>
                </div>
            </div>
                ))
            }
    </div>


